body {
    font-family: Arial, Helvetica, sans-serif;
}

section, section * {
    border: solid 1px black;
}

.card {
    display: grid;
    grid-template-columns: 3fr 1fr;
    padding: 10px;
    border: solid 1px #ccc;
}

main {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    row-gap: 20px;
    column-gap: 20px;
}